.summary {
    font-weight:600;
}

.money > .value-wrapper > .value {
    color: black;
}

.money {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indicator {
    white-space: normal;
}

.indicator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.value {
    white-space: normal;
    color: #909499;
}

.text-wrapper {
    max-width: 50%;
    display: flex;
    align-items: center;
}

.money > .text-wrapper {
    max-width: 60%;
}

.value-wrapper {
    max-width: 40%;
    text-align: right;
    display: flex;
    align-items: center;
}

.money > .value-wrapper {
    max-width: 30%;
}