.summary * {
    font-weight:600;
}

.info * {
    color: black;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indicator {
    white-space: nowrap;
}

.indicator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.value {
    white-space: normal;
    color: #909499;
}

.text-wrapper {
    max-width: 50%;
    display: flex;
    align-items: center;
}

.value-wrapper {
    max-width: 40%;
    text-align: right;
    display: flex;
    align-items: center;
}